# Ignore all PyCharm settings folders
.idea/

# Ignore files in outputs folder
outputs/

# Ignore figures for linear model
plots/figure 5.ipynb

# Ignore macOS system files
.DS_Store

# Ignore some .ipynb files that I used for testing
experiments/exp_cifar10_cnn_lin.ipynb
experiments/exp_cifar10_cnn_inf.ipynb
experiments/exp_mnist_fcnn.ipynb
experiments/exp_mnist_fcnn_lin.ipynb
experiments/exp_mnist_fcnn_inf.ipynb
experiments/exp_mnist_linear.ipynb